/* form {
  border: 1px solid red;
}

@media (min-width: 601px) {
  form {
    margin: 
  }
}

label {
  display: block;
}

input {
  width: 75%;
}

@media(max-width: 768px) {
  form {
    margin: 0 100px;
  }
} 

@media(min-width: 850px) {

} */